<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"><!--Bbttons is to help format buttons-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Connacht</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Connacht</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/1280px-Flag_of_Connacht.svg.png" height="20" width="20"></ion-img>

  <h1>Counties in Connaught</h1>
  <ul>
    <li>Sligo</li>
    <li>Galway</li>
    <li>Roscommon</li>
    <li>Mayo</li>
    <li>Leithrim</li>
  </ul>
</ion-content>
